workflows/leads_scrape_apify.json
{
  "name": "leads_scrape_apify",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~facebook-groups-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"startUrls\": [{ \"url\": \"{{ $json.group_url }}\" }],\n  \"resultsLimit\": {{ $json.post_count }},\n  \"viewOption\": \"CHRONOLOGICAL\"\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "apify-scrape-node",
      "name": "Apify Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "apify-api-credential",
          "name": "Apify API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return [];\n}\n\nreturn items.map(item => ({\n  json: {\n    postId: item.json.postId ?? item.json.id ?? '',\n    authorName: item.json.authorName ?? item.json.author ?? '',\n    postText: item.json.message ?? item.json.text ?? '',\n    postLink: item.json.url ?? item.json.postUrl ?? '',\n    postDate: item.json.time ?? item.json.timestamp ?? '',\n  }\n}));"
      },
      "id": "map-fields-node",
      "name": "Map Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-posts-node",
      "name": "Has Posts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const groupUrl = $('Execute Workflow Trigger').item.json.group_url;\nconsole.log(`No posts found for ${groupUrl}`);\nreturn [{ json: { posts: [] } }];"
      },
      "id": "log-empty-node",
      "name": "Log Empty",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 450]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Apify Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Scrape": {
      "main": [
        [
          {
            "node": "Map Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Fields": {
      "main": [
        [
          {
            "node": "Has Posts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Posts?": {
      "main": [
        [],
        [
          {
            "node": "Log Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": ""
  }
}
