workflows/leads_main.json
{
  "name": "leads_main",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "k5LZs1ntJRXaqNpM"
  },
  "nodes": [
    {
      "parameters": {
        "formTitle": "Facebook Leads Scraper",
        "formDescription": "Enter one Facebook group URL per line. Posts will be scraped, filtered for leads, and saved to your Google Sheet.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Group URLs",
              "fieldName": "group_urls",
              "fieldType": "textarea",
              "placeholder": "https://www.facebook.com/groups/example\nhttps://www.facebook.com/groups/another",
              "requiredField": true
            },
            {
              "fieldLabel": "Posts Per Group",
              "fieldName": "posts_per_group",
              "fieldType": "number",
              "placeholder": "50",
              "requiredField": false
            }
          ]
        },
        "options": {
          "respondWhen": "lastNode"
        }
      },
      "id": "form-trigger-node",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [250, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json[\"Group URLs\"] || $input.first().json[\"group_urls\"] || \"\";\nconst postCount = Number($input.first().json[\"Posts Per Group\"] ?? $input.first().json[\"posts_per_group\"]) || 50;\nconst effectiveCount = (postCount < 1 || postCount > 500) ? 50 : postCount;\n\nconst lines = raw.split(\"\\n\").map(l => l.trim()).filter(l => l.length > 0);\n\nif (lines.length === 0) {\n  throw new Error(\"No URLs provided. Enter at least one Facebook group URL.\");\n}\n\n// Validate pattern: must contain facebook.com/groups/<slug>\nconst validPattern = /^https?:\\/\\/(www\\.)?facebook\\.com\\/groups\\/[a-zA-Z0-9._-]+\\/?([\\?].*)?$/;\nconst invalidUrls = lines.filter(url => !validPattern.test(url));\nif (invalidUrls.length > 0) {\n  throw new Error(\"Invalid URLs (must be facebook.com/groups/slug):\\n\" + invalidUrls.join(\"\\n\"));\n}\n\n// Normalize: https://www.facebook.com/groups/slug (no trailing slash, no query params)\nconst normalize = (url) => {\n  const match = url.match(/facebook\\.com\\/groups\\/([a-zA-Z0-9._-]+)/);\n  return match ? `https://www.facebook.com/groups/${match[1]}` : url;\n};\n\nconst normalized = lines.map(normalize);\n\n// Deduplicate silently (D-04)\nconst seen = new Set();\nconst unique = normalized.filter(url => {\n  if (seen.has(url)) return false;\n  seen.add(url);\n  return true;\n});\n\nreturn unique.map(url => ({\n  json: {\n    group_url: url,\n    post_count: effectiveCount\n  }\n}));"
      },
      "id": "parse-urls-node",
      "name": "Parse URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-in-batches-node",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "H3PMNprdI9tzT7yf",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "group_url": "={{ $json.group_url }}",
            "post_count": "={{ $json.post_count }}"
          }
        },
        "options": {}
      },
      "id": "execute-scrape-node",
      "name": "Execute Workflow - Scrape",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1000, 200],
      "onError": "continueErrorOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const groupUrl = $('SplitInBatches').first().json.group_url;\nconst item = $input.first()?.json || {};\nconst errMsg = item.error?.message || \"Scrape sub-workflow failed\";\nreturn [{ json: { group_url: groupUrl, status: \"error\", error_reason: errMsg, scraped: 0, leads: 0, added: 0 } }];"
      },
      "id": "capture-scrape-error-node",
      "name": "Capture Scrape Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 450]
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.all().map(item => item.json);\nconst groupUrl = $('SplitInBatches').first().json.group_url;\nreturn [{ json: { posts: posts, group_url: groupUrl } }];"
      },
      "id": "assemble-filter-input-node",
      "name": "Assemble Filter Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "CY2ax7bMZaLoODGm",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "posts": "={{ $json.posts }}",
            "group_url": "={{ $json.group_url }}"
          }
        },
        "options": {}
      },
      "id": "execute-filter-node",
      "name": "Execute Workflow - Filter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1500, 200],
      "onError": "continueErrorOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const groupUrl = $('SplitInBatches').first().json.group_url;\nconst scrapeCount = $('Assemble Filter Input').first()?.json?.posts?.length || 0;\nconst item = $input.first()?.json || {};\nconst errMsg = item.error?.message || \"Filter sub-workflow failed\";\nreturn [{ json: { group_url: groupUrl, status: \"error\", error_reason: errMsg, scraped: scrapeCount, leads: 0, added: 0 } }];"
      },
      "id": "capture-filter-error-node",
      "name": "Capture Filter Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 450]
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.all().map(item => item.json);\nconst groupUrl = $('SplitInBatches').first().json.group_url;\nreturn [{ json: { posts: posts, group_url: groupUrl } }];"
      },
      "id": "assemble-store-input-node",
      "name": "Assemble Store Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 200]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "HWJVJIVEDpu69Nbw",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "posts": "={{ $json.posts }}",
            "group_url": "={{ $json.group_url }}"
          }
        },
        "options": {}
      },
      "id": "execute-store-node",
      "name": "Execute Workflow - Store",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2000, 200],
      "onError": "continueErrorOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const groupUrl = $('SplitInBatches').first().json.group_url;\nconst scrapeCount = $('Assemble Filter Input').first()?.json?.posts?.length || 0;\nconst leadsCount = $('Assemble Store Input').first()?.json?.posts?.length || 0;\nconst item = $input.first()?.json || {};\nconst errMsg = item.error?.message || \"Store sub-workflow failed\";\nreturn [{ json: { group_url: groupUrl, status: \"error\", error_reason: errMsg, scraped: scrapeCount, leads: leadsCount, added: 0 } }];"
      },
      "id": "capture-store-error-node",
      "name": "Capture Store Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 450]
    },
    {
      "parameters": {
        "jsCode": "const groupUrl = $('SplitInBatches').first().json.group_url;\nconst scrapeCount = $('Assemble Filter Input').first()?.json?.posts?.length || 0;\nconst leadsCount = $('Assemble Store Input').first()?.json?.posts?.length || 0;\nreturn [{ json: { group_url: groupUrl, status: \"success\", scraped: scrapeCount, leads: leadsCount, added: leadsCount } }];"
      },
      "id": "capture-success-stats-node",
      "name": "Capture Success Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn [{ json: { groups: items.map(i => i.json) } }];"
      },
      "id": "accumulate-stats-node",
      "name": "Accumulate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 450]
    },
    {
      "parameters": {
        "jsCode": "const groups = $input.first().json.groups || [];\nconst sheetId = \"1N3FqJBgg-az5f_bbMdK4ZW8KNZpuOUHkoE5kfPrpDKE\";\nconst sheetUrl = `https://docs.google.com/spreadsheets/d/${sheetId}`;\nconst allFailed = groups.length > 0 && groups.every(g => g.status === \"error\");\nconst successCount = groups.filter(g => g.status !== \"error\").length;\nconst lines = groups.map(g => {\n  const slug = g.group_url.match(/\\/groups\\/([^\\/]+)/)?.[1] || g.group_url;\n  if (g.status === \"error\") {\n    return `<li><strong>${slug}</strong>: FAILED - ${g.error_reason}</li>`;\n  }\n  return `<li><strong>${slug}</strong>: scraped ${g.scraped}, leads ${g.leads}, new ${g.added}</li>`;\n});\nconst html = `<h2>Leads Run Complete</h2><ul>${lines.join(\"\")}</ul><p><a href=\"${sheetUrl}\" target=\"_blank\">Open Google Sheet</a></p>`;\nreturn [{ json: { responseText: html, allFailed, successCount, sheetUrl } }];"
      },
      "id": "build-response-node",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 450]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "all-failed-condition",
              "leftValue": "={{ $json.allFailed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-all-failed-node",
      "name": "IF All Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 450]
    },
    {
      "parameters": {
        "errorMessage": "All group scrapes failed - check leads_error_notify for details."
      },
      "id": "stop-and-error-node",
      "name": "Stop And Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1750, 350]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Parse URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse URLs": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Accumulate Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow - Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow - Scrape": {
      "main": [
        [
          {
            "node": "Assemble Filter Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Scrape Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Scrape Error": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Filter Input": {
      "main": [
        [
          {
            "node": "Execute Workflow - Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow - Filter": {
      "main": [
        [
          {
            "node": "Assemble Store Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Filter Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Filter Error": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Store Input": {
      "main": [
        [
          {
            "node": "Execute Workflow - Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow - Store": {
      "main": [
        [
          {
            "node": "Capture Success Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Store Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Store Error": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Success Stats": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate Stats": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "IF All Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF All Failed": {
      "main": [
        [
          {
            "node": "Stop And Error",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "meta": {
    "instanceId": ""
  }
}
